USE [master]
GO

/****** Object:  Database [QuanLyTruyen]    Script Date: 27/06/2021 5:42:06 CH ******/
DROP DATABASE [QuanLyTruyen]
GO

/****** Object:  Database [QuanLyTruyen]    Script Date: 27/06/2021 5:42:06 CH ******/
CREATE DATABASE [QuanLyTruyen]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyTruyen', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QuanLyTruyen.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyTruyen_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QuanLyTruyen_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyTruyen].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO

USE [QuanLyTruyen]
GO
/****** Object:  Table [dbo].[member]    Script Date: 27/06/2021 5:40:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[member](
	[MemberID] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](128) NOT NULL,
	[passcode] [varchar](64) NOT NULL,
	[accounttype] [int] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[novel]    Script Date: 27/06/2021 5:40:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[novel](
	[NovelID] [int] IDENTITY(1,1) NOT NULL,
	[NovelName] [nvarchar](256) NOT NULL,
	[CoverImage] [varbinary](max) NULL,
	[Synopsis] [nvarchar](max) NULL,
	[NovelStatus] [int] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[NovelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[novelChapter]    Script Date: 27/06/2021 5:40:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[novelChapter](
	[ChapterID] [int] IDENTITY(1,1) NOT NULL,
	[ChapterName] [nvarchar](128) NOT NULL,
	[ChapterLink] [nvarchar](max) NULL,
	[NovelID] [int] NOT NULL,
	[PrevID] [int] NULL,
	[NextID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ChapterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[noveltag]    Script Date: 27/06/2021 5:40:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[noveltag](
	[NovelID] [int] NOT NULL,
	[TagID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NovelID] ASC,
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tag]    Script Date: 27/06/2021 5:40:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tag](
	[TagID] [int] IDENTITY(1,1) NOT NULL,
	[TagName] [nvarchar](64) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[member] ON 

INSERT [dbo].[member] ([MemberID], [username], [passcode], [accounttype]) VALUES (1, N'admin', N'default@admin', 2)
INSERT [dbo].[member] ([MemberID], [username], [passcode], [accounttype]) VALUES (2, N'namk', N'1475369@mkl', 1)
INSERT [dbo].[member] ([MemberID], [username], [passcode], [accounttype]) VALUES (5, N'trung', N'123', 0)
SET IDENTITY_INSERT [dbo].[member] OFF
SET IDENTITY_INSERT [dbo].[novel] ON 

INSERT [dbo].[novel] ([NovelID], [NovelName], [CoverImage], [Synopsis], [NovelStatus]) VALUES (1, N'Novel 1', NULL, N'Database testing', 0)
INSERT [dbo].[novel] ([NovelID], [NovelName], [CoverImage], [Synopsis], [NovelStatus]) VALUES (2, N'Novel 2', NULL, N'Database testing', 1)
SET IDENTITY_INSERT [dbo].[novel] OFF
SET IDENTITY_INSERT [dbo].[novelChapter] ON 

INSERT [dbo].[novelChapter] ([ChapterID], [ChapterName], [ChapterLink], [NovelID], [PrevID], [NextID]) VALUES (1, N'Novel 1 chapter 1', N'C:\Users\hnam1\Desktop\FirstWebsite\QuanLyTruyen\App_Data\1.txt', 1, NULL, 2)
INSERT [dbo].[novelChapter] ([ChapterID], [ChapterName], [ChapterLink], [NovelID], [PrevID], [NextID]) VALUES (2, N'Novel 1 chapter 2', N'C:\Users\hnam1\Desktop\FirstWebsite\QuanLyTruyen\App_Data\2.txt', 1, 1, 5)
INSERT [dbo].[novelChapter] ([ChapterID], [ChapterName], [ChapterLink], [NovelID], [PrevID], [NextID]) VALUES (3, N'Novel 2 chapter final', N'C:\Users\hnam1\Desktop\FirstWebsite\QuanLyTruyen\App_Data\3.txt', 2, NULL, NULL)
SET IDENTITY_INSERT [dbo].[novelChapter] OFF
INSERT [dbo].[noveltag] ([NovelID], [TagID]) VALUES (1, 1)
INSERT [dbo].[noveltag] ([NovelID], [TagID]) VALUES (1, 6)
INSERT [dbo].[noveltag] ([NovelID], [TagID]) VALUES (1, 10)
SET IDENTITY_INSERT [dbo].[tag] ON 

INSERT [dbo].[tag] ([TagID], [TagName]) VALUES (1, N'Action')
INSERT [dbo].[tag] ([TagID], [TagName]) VALUES (2, N'Adult')
INSERT [dbo].[tag] ([TagID], [TagName]) VALUES (3, N'Adventure')
SET IDENTITY_INSERT [dbo].[tag] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__member__F3DBC5725852AADE]    Script Date: 27/06/2021 5:40:46 CH ******/
ALTER TABLE [dbo].[member] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__novel__276F3E59CCD62012]    Script Date: 27/06/2021 5:40:46 CH ******/
ALTER TABLE [dbo].[novel] ADD UNIQUE NONCLUSTERED 
(
	[NovelName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__novelCha__66E6D4A37E3BB332]    Script Date: 27/06/2021 5:40:46 CH ******/
ALTER TABLE [dbo].[novelChapter] ADD UNIQUE NONCLUSTERED 
(
	[ChapterName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[novelChapter]  WITH CHECK ADD FOREIGN KEY([NextID])
REFERENCES [dbo].[novelChapter] ([ChapterID])
GO
ALTER TABLE [dbo].[novelChapter]  WITH CHECK ADD FOREIGN KEY([NovelID])
REFERENCES [dbo].[novel] ([NovelID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[novelChapter]  WITH CHECK ADD FOREIGN KEY([PrevID])
REFERENCES [dbo].[novelChapter] ([ChapterID])
GO
ALTER TABLE [dbo].[noveltag]  WITH CHECK ADD FOREIGN KEY([NovelID])
REFERENCES [dbo].[novel] ([NovelID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[noveltag]  WITH CHECK ADD FOREIGN KEY([TagID])
REFERENCES [dbo].[tag] ([TagID])
ON UPDATE CASCADE
GO
